<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间-->


<mapper namespace="com.nowcoder.community.dao.CommentMapper">
    <sql id="selectFiled">id,user_id,entity_type,entity_id,
    target_id,content,status,create_time</sql>
    <sql id="insertFiled">user_id,entity_type,entity_id,
    target_id,content,status,create_time</sql>

    <select id="selectComments"  resultType="Comment">
           select <include refid="selectFiled"></include>
           from comment
           where entity_id=#{entityId} and entity_type = #{entityType}
           and status=0 order by  create_time ASC
           limit #{offset},#{limit};
    </select>

    <select id="getTotalOfComment" resultType="int">
        select count(id)
        from comment
        where entity_id=#{entityId} and entity_type = #{entityType}
    </select>

    <insert id="addComment">
        insert into comment (<include refid="insertFiled"></include>)
        values(#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>

</mapper>